<md-dialog aria-label="Temperature" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Temperature</h2>
                <span flex></span>
                <button-base on-click="close()" aria-label="Close" icon="close" class="md-icon-button" fill="white"></button-base>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content" style="width:900px;height:360px;overflow-x:auto;overflow-y:hidden;">
            <linechart data="data" options="options" mode="" height="320"></linechart>
            <div layout="row">
                <md-select ng-model="selectedSeries" ng-change="data = selectedSeries?selectedSeries.data:undefined" flex>
                    <md-option ng-repeat="s in series|orderBy:'-dateTime'" ng-value="s">{{s.dateTime|date:'short'}}</md-option>
                </md-select>
                <md-button ng-click="deleteSeries(selectedSeries)">
                    Delete
                </md-button>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="close()">
                Close
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
