<!doctype html>
<html lang="pt-BR" ng-app="App">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1" />
    <link rel="stylesheet" href="vendor/angular-material.min.css">
    <link rel="stylesheet" href="style.css">
</head>

<body layout="column" ng-controller="MainCtrl as mainVm">
    <md-list>
        <md-list-item ng-repeat="track in mainVm.tracks" ng-class="{'running-track':track.running}">
            <my-track model="track" app-config="mainVm.appConfig" layout="row" layout-align="center center" flex></my-track>
            <md-divider></md-divider>
        </md-list-item>
    </md-list>
    <div flex layout="row" layout-align="end end" layout-margin>
        <div layout="row" layout-align="start end" flex>
            <md-switch ng-model="mainVm.appConfig.demoMode" aria-label="Simulation mode" class="md-warn">Simulation mode</md-switch>
        </div>
        <div layout="row" layout-align="end center">
            <md-autocomplete placeholder="Open a setup" md-search-text="mainVm.setupsSearchText" md-items="item in mainVm.searchSetups()" md-selected-item="mainVm.selectedSetup" md-selected-item-change="mainVm.onSelectedSetupChange()" md-item-text="item.name + ' (' + (item.dateTime |date:'short')+ ')'" md-min-length="0" md-no-cache=true>
                <md-item-template>
                    <span md-highlight-text="mainVm.setupsSearchText" md-highlight-flags="^i">{{item.name}} ({{item.dateTime | date:'short'}})</span>
                </md-item-template>
                <md-not-found>
                    No matches found for "{{mainVm.setupsSearchText}}".
                </md-not-found>
            </md-autocomplete>
            <button-base on-click="mainVm.openSaveDialog($event)" icon="save" aria-label="Save" class="md-icon-button" fill="dimgray"></button-base>
            <button-base on-click="mainVm.openListDialog($event)" icon="list" aria-label="Setups" class="md-icon-button" fill="dimgray"></button-base>
            <button-base on-click="mainVm.openGeneralConfigDialog($event)" icon="settings" aria-label="Config" class="md-icon-button" fill="dimgray"></button-base>
            <button-base on-click="mainVm.openLogDialog($event)" icon="insert_drive_file" aria-label="Log messages" class="md-icon-button" fill="dimgray"></button-base>
            <button-base ng-if="! mainVm.isConnected()" on-click="mainVm.connectToArduino()" icon="usb" aria-label="Connect to Arduino" class="md-icon-button" fill="dimgray"></button-base>
            <button-base ng-if="mainVm.isConnected()" on-click="mainVm.disconnectFromArduino()" icon="usb" aria-label="Disconnect from Arduino" class="md-icon-button" fill="deepskyblue"></button-base>
            <div class="arduino-state-message">{{mainVm.arduinoState.desc}}</div>
        </div>
    </div>
    <audio src="beep.mp3">
        <p>Seu navegador não suporta o elemento audio </p>
    </audio>
    <script src="vendor/angular.min.js"></script>
    <script src="vendor/angular-animate.min.js"></script>
    <script src="vendor/angular-aria.min.js"></script>
    <script src="vendor/angular-material.min.js"></script>
    <script src="vendor/angular-material-icons.min.js"></script>
    <script src="vendor/angular-locale_pt-br.js"></script>
    <script src="vendor/masks.js"></script>
    <script src="vendor/angular-chrome-storage.js"></script>
    <script src="vendor/d3.min.js"></script>
    <script src="vendor/line-chart.min.js"></script>
    <script src="app/app.js"></script>
    <script src="app/arduino.service.js"></script>
    <script src="app/data.srv.js"></script>
    <script src="app/general-config.srv.js"></script>
    <script src="app/main.ctrl.js"></script>
    <script src="app/timer.service.js"></script>
    <script src="app/button-base.drv.js"></script>
    <script src="app/button-icon.drv.js"></script>
    <script src="app/step/step.drv.js"></script>
    <script src="app/step/step-alarm.drv.js"></script>
    <script src="app/step/step-alarms.drv.js"></script>
    <script src="app/step/input-temperature.drv.js"></script>
    <script src="app/step/input-time.drv.js"></script>
    <script src="app/step/progress-temperature.drv.js"></script>
    <script src="app/step/button-remove.drv.js"></script>
    <script src="app/step/button-start-timer.drv.js"></script>
    <script src="app/track/track.drv.js"></script>
    <script src="app/track/track.srv.js"></script>
    <script src="app/track/track-head.drv.js"></script>
    <script src="app/track/button-add.drv.js"></script>
    <script src="app/track/button-finish.drv.js"></script>
    <script src="app/track/button-forward.drv.js"></script>
    <script src="app/track/button-play-pause.drv.js"></script>
    <script src="app/track/button-stop.drv.js"></script>
    <script src="app/track/alarms/alarm.srv.js"></script>
    <script src="app/track/alarms/toast-queue.srv.js"></script>
    <script src="app/track/chart.srv.js"></script>
</body>

</html>
