<md-dialog aria-label="General config" ng-cloak>
    <form ng-submit="save()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>General config</h2>
                <span flex></span>
                <button-base on-click="cancel()" aria-label="Cancel" icon="close" class="md-icon-button" fill="white"></button-base>
            </div>
        </md-toolbar>
        <md-dialog-content class="md-dialog-content">
            <md-input-container flex>
                <label>USB port</label>
                <div layout="row" layout-align="center center" flex>
                    <md-select flex layout-align="center center" aria-label="USB port" ng-model="config.usbPort">
                        <md-option ng-repeat="port in ports" value="{{port.path}}">
                            {{port.path}}
                        </md-option>
                    </md-select>
                    <button-base on-click="refresh()" aria-label="Refresh" icon="refresh" class="md-icon-button" fill="dimgray"></button-base>
                </div>
            </md-input-container>
            <md-input-container flex>
                <label>Bitrate</label>
                <input ng-model="config.bitrate" ui-number-mask="0" maxlength="7">
            </md-input-container>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()">
                Cancel
            </md-button>
            <md-button type="submit" class="md-raised md-primary">
                Save
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
