<md-dialog aria-label="Track config" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Track config</h2>
                <span flex></span>
                <button-base on-click="cancel()" aria-label="Cancel" icon="close" class="md-icon-button" fill="white" style="margin-right:-8px;"></button-base>
            </div>
        </md-toolbar>
        <md-dialog-content style="max-width:600px;max-height:810px; ">
            <p class="md-caption">Arduino pins</p>
            <div layout="row">
                <md-input-container flex>
                    <label>SSR's pin</label>
                    <input ng-model="config.pinSSR" ui-number-mask="0" max="13" maxlength="2">
                </md-input-container>
                <md-input-container flex>
                    <label>DS18B20's pin</label>
                    <input ng-model="config.pinDS18B20" ui-number-mask="0" max="13" maxlength="2">
                </md-input-container>
            </div>
            <p class="md-caption">PID parameters</p>
            <div layout="row">
                <md-input-container flex>
                    <label>kP</label>
                    <input ng-model="config.kp" ui-number-mask="2" maxlength="9">
                </md-input-container>
                <md-input-container flex>
                    <label>kI</label>
                    <input ng-model="config.ki" ui-number-mask="2" maxlength="9">
                </md-input-container>
                <md-input-container flex>
                    <label>kD</label>
                    <input ng-model="config.kd" ui-number-mask="2" maxlength="9">
                </md-input-container>
            </div>
            <div layout="row">
                <md-input-container flex>
                    <label>Sample Time (millis)</label>
                    <input ng-model="config.sampleTime" ui-number-mask="0" maxlength="7">
                </md-input-container>
                <md-input-container flex>
                    <label>Window size (millis)</label>
                    <input ng-model="config.windowSize" ui-number-mask="0" maxlength="7">
                </md-input-container>
                <md-input-container flex>
                    <label>Output</label>
                    <input ng-model="config.output" ui-number-mask="2" maxlength="9">
                </md-input-container>
            </div>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="save()">
                Save
            </md-button>
            <md-button ng-click="cancel()" style="margin-right:20px;">
                Cancel
            </md-button>
        </div>
    </form>
</md-dialog>
