<md-dialog aria-label="Setups" ng-cloak>
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Setups</h2>
                <span flex></span>
                <button-base on-click="close()" aria-label="Cancel" icon="close" class="md-icon-button" fill="white" style="margin-right:-14px;"></button-base>
            </div>
        </md-toolbar>
        <md-dialog-content style="min-height:100px;min-width:400px;">
            <md-list>
                <md-list-item ng-repeat="item in items | orderBy:'-dateTime'">
                    <p ng-click="open()">{{item.name}} ({{item.dateTime | date:'short'}})</p>
                    <md-button ng-click="delete(item)" class="md-primary">Delete</md-button>
                </md-list-item>
                <md-list-item ng-if="!items.length">
                    <p>Empty</p>
                </md-list-item>
            </md-list>
        </md-dialog-content>
        <div class="md-actions" layout="row">
            <md-button ng-click="close()">
                Close
            </md-button>
        </div>
    </form>
</md-dialog>
